{% extends 'base.html' %}
{% block head %}

<style>
    body {
    background-image:url("/static/images/book-with-green-board-background.jpg") ;
      position: relative;
      background-attachment:scroll;
      background-size:100% ;
  </style> 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock head%}
{% block title%}
College Institution
{% endblock title %}

{% block body %}
<form action="/">
	<label for="inputStatus">Name</label>
			<select id="college_inst" name="college_name" >
			<option selected disabled="true">Select Name</option>
			{% for name in coll_name %}
			<option value="{{name.name}}">{{name.name}}</option>     
			{% endfor %}
			</select>
			<input type="submit" value="Go"/>
</form>

			{% for name in coll_name %}
		    {% if name.name == college_name %} 
			<center>
		    <div class="col-sm-6">
		  <div class="card" style='width:30rem; allign:centre'>
		    <h5 class="card-header">{{name.name}}</h5>
		    <div class="card-body" style='width:30rem; allign:centre'>
		      <h5 class="card-title">{{name.address_line1}}  {{name.address_line2}} city:{{name.city}} Pincode: {{name.pin_code}}</h5>
		      <p class="card-text">For more information, PLease visit college website</p>
		      <a href="{{name.website}}" class="btn btn-primary" style='width:6rem;'>Website</a>
		    </div>
		  </div>
		</div>
	</center>
{% endif %}
{% endfor %}
<select id="col_accreditation" name="college_accreditation" >
<button type="button" class="btn btn-primary btn-lg">Accreditation</button>
</select>

</select>
<select id="col_infra" name="college_infra" >
<button type="button" class="btn btn-primary btn-lg">Infrastructure</button>
</select>
<select id="col_journals" name="college_journal" >
<button type="button" class="btn btn-primary btn-lg">Journals</button>
</select>

<form action="/">
	<label for="inputStatus">Type</label>
	<select id="col_exam_result" name="college_exam" >
	  
	  <option value="examresult">Exam result</option>
	  
	</select>
	<input type="submit" value="Go"/>
	</form>

{% if college_exam == "examresult" %}	
{% for name in college_institution_resul %}
{% if forloop.counter < 21 %}
		    <div class="col-sm-6">
		  <div class="card" style='width:30rem; allign:centre'>
		    <h5 class="card-header">{{name.id}}  {{name.name}}</h5>
		    <div class="card-body" style='width:30rem; allign:centre'>
		      <h5 class="card-title">Discipline: {{name.discipline}} Result:{{name.result}} Course_Id{{name.course_id}}</h5>
		      </div>
		  </div>
		</div>
		{% endif %}
{% endfor %}
{% endif %}


{% for i in college_exam %}
{% if forloop.counter < 10 %}
{{i.id}}
{{i.name}}
{{i.discipline}}
{{i.result}}
{{i.course_id}}
<br>
{% endif %}
{% endfor %}
{% endblock body %}

