{% extends 'base.html' %}
{% block head %}
<style>
    body {
    background-image:url("/static/images/bg.jpg");
    }
  </style> 
{% endblock head%}
{% block title%}
Home
{% endblock title %}

{% block body %}
<form action="" method="POST">
<div class="col-md-6">
  <div class="form-group">
    <label for="inputStatus">Type</label>
    <select id="question-type" class="form-control-sm custom-select"  name="type">
      <option selected disabled>Select type</option>
      <option value="College">College</option>
      <option value="College Institution">College Institution</option>
      <option value="StandAlone Institution">StandAlone Institution</option>
    </select>
  </div>
</div>
</form>

<div class="col-md-6">
    <div class="form-group">
      <label for="inputStatus">Name</label>
      <select id="question-name" class="form-control-sm custom-select" name="results">
        <option selected disabled>Select Name</option>
        {% if name == "College" %}
        {% for college in college %}
        <option value="{{college.name}}">{{college.name}}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>
  {% comment %}
  {% for col in col %}
    {{% col %}}
  {% endfor %}
  
 


  {% block javascript %}
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script>
      $("#question-type").change(function () {
          const typeId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
          $.ajax({                       // initialize an AJAX request
              type: "POST",
              url: '{% url "get_name_ajax" %}',
              data: {
                  'type_id': typeId,       // add the country id to the POST parameters
                  'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function (data) {   // `data` is from `get_topics_ajax` view function
                  let html_data = '<option value="">---------</option>';
                  data.forEach(function (data) {
                      html_data += `<option value="${data.id}">${data.name}</option>`
                  });
                  $("#question-name").html(html_data); // replace the contents of the topic input with the data that came from the server
              }
          });
      }); 
  </script>
  {% endblock javascript %}

   {% endcomment %}

   <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"f0863bfee755704c0e0bcb0cefdc75e8","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
{% endblock body %}

