{% extends 'base.html' %}
{% block head %}

<style>
    body {
    background-image:url("/static/images/book-with-green-board-background.jpg") ;
      position: relative;
      background-attachment:scroll;
      background-size:100% ;
  </style> 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock head%}
{% block title%}
Home
{% endblock title %}

{% block body %}
<form action="/">
<label for="inputStatus">Type</label>
<select id="institution_type" name="inst_type" >
  <option selected disabled="true">Select Type</option>
  {% for type in Type %}
  <option value="{{type.name}}">{{type.name}}</option>
  {% endfor %}
</select>
<input type="submit" value="Go"/>
</form>

<form action="/">
	<label for="inputStatus">Name</label>
			{% if ins_type == "College" %}	
			<select id="college_inst" name="college_name" >
			<option selected disabled="true">Select Name</option>
			{% for name in coll_name %}
			<option value="{{name.name}}">{{name.name}}</option>     
			{% endfor %}
			{% elif ins_type == "University" %}
			<select id="university_inst" name="university_name" >
			<option selected disabled="true">Select Name</option>
			{% for name in univ_name %}
			<option value="{{name.name}}">{{name.name}}</option>     
			{% endfor %}
			{% elif ins_type == "Standalone Institute" %}
			<select id="standal_inst" name="standalone_name" >
			<option selected disabled="true">Select Name</option>
			{% for name in stand_name %}
			<option value="{{name.name}}">{{name.name}}</option>     
			{% endfor %}
			{% else %}
			{% endif %}
			</select>
			<input type="submit" value="Go"/>
</form>
{% for name in univ_name %}
{% if name.name == university_name %} 
<center>
<div class="col-sm-6">
<div class="card" style='width:30rem; allign:centre'>
<h5 class="card-header">{{name.name}}</h5>
<div class="card-body" style='width:30rem; allign:centre'>
  <h5 class="card-title">{{name.address_line1}}  {{name.address_line2}} city:{{name.city}} Pincode: {{name.pin_code}}</h5>
  <p class="card-text">For more information, PLease visit college website</p>
  <a href="{{name.website}}" class="btn btn-primary" style='width:6rem;'>Website</a>
</div>
</div>
</div>
</center>
{% endif %}
{% endfor %}

			{% for name in coll_name %}
		    {% if name.name == college_name %} 
			<center>
		    <div class="col-sm-6">
		  <div class="card" style='width:30rem; allign:centre'>
		    <h5 class="card-header">{{name.name}}</h5>
		    <div class="card-body" style='width:30rem; allign:centre'>
		      <h5 class="card-title">{{name.address_line1}}  {{name.address_line2}} city:{{name.city}} Pincode: {{name.pin_code}}</h5>
		      <p class="card-text">For more information, PLease visit college website</p>
		      <a href="{{name.website}}" class="btn btn-primary" style='width:6rem;'>Website</a>
		    </div>
		  </div>
		</div>
	</center>
{% endif %}
{% endfor %}

{% for name in stand_name %}
		    {% if name.name == standalone_name %} 
			<center>
		    <div class="col-sm-6">
		  <div class="card" style='width:30rem; allign:centre'>
		    <h5 class="card-header">{{name.name}}</h5>
		    <div class="card-body" style='width:30rem; allign:centre'>
		      <h5 class="card-title">{{name.address_line1}}  {{name.address_line2}} city:{{name.city}} Pincode: {{name.pin_code}}</h5>
		      <p class="card-text">For more information, PLease visit college website</p>
		      <a href="{{name.website}}" class="btn btn-primary" style='width:6rem;'>Website</a>
		    </div>
		  </div>
		</div>
	</center>
{% endif %}
{% endfor %}



{% comment %}
Code for chat bot
{% endcomment %}
   <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"f0863bfee755704c0e0bcb0cefdc75e8","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>

{% for i in p %}
{% if forloop.counter < 21 %}
    {{i.id}}  
    {{ i.name }}
    {{ i.accreditation_id}}
    {{i.survey_year}}
    {{i.accreditation_body}}
    {{i.score}}
    {{i.max_score}}
    {{i.result}}
    <br>
    {% endif %}
    {% endfor %}

{% for i in dataframe %}
{% if forloop.counter < 21 %}
    {{i.id}}  
    {{ i.name }}
    {{ i.no_of_books}}
    {{i.no_of_journals}}
    <br>
    {% endif %}
    {% endfor %}

{% for i in df %}
{% if forloop.counter < 21 %}
    {{i.id}}  
    {{ i.name }}
    {{ i.infrastructure_id}}
    <br>
    {% endif %}
    {% endfor %}

    {% for i in r %}
{% if forloop.counter < 21 %}
    {{i.id}}  
    {{ i.name }}
    {{ i.discipline}}
    {{i.result}}
    {{i.course_id}}
    <br>
    {% endif %}
    {% endfor %}

   {% for i in q %}
        {% if forloop.counter < 21 %}
            {{i.id}}  
            {{ i.name }}
            {{ i.infrastructure_id}}
            <br>
    {% endif %}
    {% endfor %}



{% endblock body %}


